@import "base/swiper-bundle";
// @import "../../node_modules/swiper/swiper.scss";
// @import "../../node_modules/swiper/swiper-vars.scss";
@import "fonts";
@import "base/iconsfont";

$widthContainer: 1170;
$fontFamily: "Times New Roman", Georgia, Serif;
$fontSize: 14px;
$mainColor: #000000;
$background: #fff;

// Брейк-поинты
$pc: $widthContainer + px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

@import "base/null.scss";

body {
	background: $background;
	font-family: sans-serif;

	._container {
		max-width: $widthContainer + px;
		margin: 0 auto;
		padding: 0 15px;
	}

	img {
		pointer-events: none;
		user-select: none;
	}
}

.page {
	&__title {
		font-size: 28px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		padding: 40px 0;
	}

	&__icon {
		font-size: 150px;
		display: flex;
		justify-content: center;
		margin: 20px 0 0 0;
	}

	&__services {
		background:  #F3F5F9;
		padding: 0 0 30px 0;

		&-list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 20px;

			@media (max-width: 1080px) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media (max-width: 820px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (max-width: 560px) {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		&-card {
			font-size: 20px;
			width: 250px;
			margin: 0 auto;
			height: 250px;
			border-radius: 5px;
			border: 1px solid #000;
			background: #fff;
			transition: all 0.3s ease 0s;
			cursor: pointer;
			padding: 0 10px;
			line-height: 130%;
			position: relative;

			@media (max-width: 1080px) {
				width: 100%;
			}

			&:hover {
				color: #5858FA;
				box-shadow: 0px 0px 8px 5px #5858FA;
				border: 1px solid #5858FA;
			}

			.icon-engine {
				font-size: 200px;
			}
		}

		&-subtitle {
			text-align: center;
			margin: 10px 0;
			font-weight: 600;
		}
	}

	&__engine {
		margin: -15px 0 0 0;
	}

	&__car-body {
		font-size: 200px;
		margin: 0 0 0 0;
	}

	&__fuel {
		font-size: 140px;
		top: 55px;
	}

	&__brake {
		font-size: 160px;
		margin: 10px 0 0 0;
	}

	&__maintenance {
		font-size: 180px;
		margin: 10px 0 0 0;
	}

	&__advantages {
		color: #fff;
		background: #8181F7;

		&-list {
			display: flex;
			justify-content: space-between;

			@media (max-width: $mobile) {
				flex-direction: column;
			}
		}

		&-icon {
			font-size: 60px;
			display: inline-block;
			border: 1px solid #fff;
			border-radius: 50%;
			padding: 20px;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 23vw;

			@media (min-width: $mobile) {
				width: calc(30vw + (30 - 23) * ((100vw - 320px) / (1200 - 320)));
			}

			@media (max-width: $mobile) {
				width: 320px;
				margin: 0 auto;
			}
		}

		&-subtitle {
			font-size: 20px;
			text-align: center;
			margin: 20px 0 15px 0;
		}

		&-text {
			text-align: center;
			line-height: 130%;
			font-size: 16px;
			margin: 0 0 30px 0;
		}
	}
}

.logo {
	z-index: 5;
	color: #5858FA;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 2px;
	padding: 0 20px 0 0;
	width: 100px !important;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	@media (max-width: $pc) {
		padding: 0 calc(4px + (20 - 4) * ((100vw - 320px) / (1200 - 320))) 0 0;
	}

	&-photo {
		width: 85px;
		height: 85px;

		@media (max-width: $mobile) {
			width: 42px;
			height: 42px;
		}
	}
}

.arrow-top {
	top: 90vh;
	right: 20px;
	font-size: 40px;
	color: #fff;
	background: #5858FA; 
	position: fixed;
	padding: 5px 10px;
	border-radius: 50%;
	cursor: pointer;
}

@import 'base/svg.scss';

@import "header.scss";
@import "footer.scss";