@import "fonts";
@import "header.scss";

$widthContainer: 1170;
$fontFamily: "Times New Roman", Georgia, Serif;
$fontSize: 14px;
$mainColor: #000000;

@import "base/null.scss";

body {

	._container {
		max-width: $widthContainer + px;
		margin: 0 auto;
	}
}

@import 'base/svg.scss';
